.heading-one {
    text-align: left;
    padding: 16px 0px 0px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Patua One', cursive;
    font-weight: normal;
}

.glyphicon {
    font-size: 22px;
    padding: 0px 0px 0px 7px;
}

.top-nav {
    background-color: #212121;
    overflow: hidden;
}

.top-nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
}

.top-title {
   background-image: linear-gradient(to left, #8a30e5, #1116dd);
    overflow: hidden;
}

.top-title a {
    float: left;
    color: white;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Source Sans Pro', sans-serif;;
}

a.nav:hover {
  background-color: black;
  color: white;
  text-decoration: none;
}

a.title:hover {
  background-color: none;
  color: #cecdd5;
  text-decoration: none;
}

h1 {
    text-align: center;
    padding: 3px 0px 20px;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
}

.courses-table {
  padding: 0px 50px 50px 50px;
  margin: auto;
  min-width: 600px;
  max-width: 1500px;
}

table {
  width: 100%;
  margin: auto;
}

th, td {
  margin: auto;
  text-align: justify;
  height: 35px;
}

tr:nth-child(even) {background-color: #f2f2f2;}
