{% load static %}
<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/trainerapp_original.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">

    <title>Training Tracker</title>
</head>
<body>
    <div class="top-title">
        <a class="title">Training Tracker</a>
    </div>
    <div class="top-nav">
        <a href="{% url 'upcoming_event_list' %}">Events</a>
        <a href="{% url 'course_list' %}">Courses</a>
        <a href="{% url 'student_list' %}">Students</a>
        <a href="{% url 'report_list' %}">Reports</a>
    </div>
{% block content %}{% endblock %}
</body>
</html>