{% extends 'trainerapp/base.html' %}

{% block content %}

<div class="heading-one">
    Course Detail
</div>
<table>
    <tr>
        <td>Title</td>
        <td>{{ course.title }}</td>
    </tr>
    <tr>
        <td>Description</td>
        <td>{{ course.description }}</td>
    </tr>
    <tr>
        <td>Hours</td>
        <td>{{ course.hours }}</td>
    </tr>
    <tr>
        <td>Inactive</td>
        <td>{{ course.inactive }}</td>
    </tr>
</table>
<br>
<p>
    <a href="{% url 'course_list' %}">< Back to Course List</a>
</p>

{% endblock %}