{% extends 'trainerapp/base.html' %}

{% block content %}
        <div class="heading-one">
            {{ table_title }}
        </div>
        <p>
            <a href="{% url 'course_add' %}">+ Add Course</a>
        </p>
        <table>
            <tr>
                <th>ID</th>
                <th>Course</th>
            </tr>
        {% for course in courses %}
            <tr>
                <td>{{ course.id }}</td>
                <td>{{ course.title }}</td>
                <td>
                    <a href="{% url 'course_edit' course.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                    <span class="glyphicon glyphicon-trash"></span>
                </td>
            </tr>
        {% endfor %}
        {% if not courses %}
            <tr>
                <td>None</td>
                <td></td>
            </tr>
        {% endif %}
        </table>

        <br>
        <p>
            {% if table_title == 'Courses' %}
            <a href="{% url 'inactive_course_list' %}">View Inactive Courses</a>
            {% endif %}
            {% if table_title == 'Inactive Courses' %}
            <a href="{% url 'course_list' %}">View Active Courses</a>
            {% endif %}
        </p>

{% endblock %}