{% extends 'trainerapp/base.html' %}

{% block content %}
        <div class="heading-one">
            {{ table_title }}
        </div>
        <div>
            <p>
                <a href="{% url 'event_add' %}">+ Add Event</a>
            </p>
        </div>
<div class="courses-table">
        <table>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Course</th>
                <th>Location</th>
                <th></th>
            </tr>
        {% for event in events %}
            <tr>
                <td>{{ event.start_date }}</td>
                <td>{{ event.start_time }}</td>
                <td>{{ event.course }}</td>
                <td>{{ event.location }}</td>
                <td>
                    <a href="{% url 'event_detail' event.pk %}"><span class="glyphicon glyphicon-eye-open"></span></a>
                    <a href="{% url 'event_edit' event.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a href="{% url 'event_delete' event.pk %}"><span class="glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>
        {% endfor %}
        {% if not events %}
            <tr>
                <td>None</td>
                <td></td>
            </tr>
        {% endif %}
        </table></div>
        <br>
        <p>
            {% if table_title == 'Upcoming Events' %}
            <a href="{% url 'past_event_list' %}">View Past Events</a>
            {% endif %}
            {% if table_title == 'Past Events' %}
            <a href="{% url 'upcoming_event_list' %}">View Upcoming Events</a>
            {% endif %}
        </p>

{% endblock %}