{% extends 'trainerapp/base.html' %}

{% block content %}

<div class="heading-one">
    Event Details
</div>
<div class="courses-table">
<table>
    <tr>
        <td>Course</td>
        <td>{{ event.course }}</td>
    </tr>
    <tr>
        <td>Start Date</td>
        <td>{{ event.start_datetime }}</td>
    </tr>
    <tr>
        <td>End Date</td>
        <td>{{ event.end_datetime }}</td>
    </tr>
    <tr>
        <td>Location</td>
        <td>{{ event.location }}</td>
    </tr>
    <tr>
        <td>Capacity</td>
        <td>{{ event.capacity }}</td>
    </tr>
</table>
<br>
<p>
    <a href="{% url 'upcoming_event_list' %}">< Back to Event List</a>
</p>

<div class="heading-one">
    Attendees
</div>

<table>
{% for person in event.attendee_set.all %}
    <tr>
        <td>{{ person.student.last_name }}, {{ person.student.first_name }}</td>
        <td>
            {% if person.attended %}
            <span class="glyphicon glyphicon-ok"></span>
            {% else %}
            <span class="glyphicon glyphicon-remove"></span>
            {% endif %}
            <a href="{% url 'attendee_edit' person.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a href="{% url 'attendee_delete' person.id %}"><span class="glyphicon glyphicon-trash"></span></a>
        </td>
    </tr>
{% endfor %}
</table>

</div>
<p>
    <a href="{% url 'attendee_add' %}">+ Add Attendee</a>
</p>

{% endblock %}