{% extends 'trainerapp/base.html' %}

{% block content %}
        <div class="heading-one">
            {{ table_title }}
        </div>
            <p>
                <a>+ Add Student</a>
            </p>
        <table>
            <tr>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Email</th>
            </tr>
        {% for student in students %}
            <tr>
                <td>{{ student.last_name }}</td>
                <td>{{ student.first_name }}</td>
                <td>{{ student.email }}</td>
                <td>
                    <span class="glyphicon glyphicon-pencil"></span>
                    <span class="glyphicon glyphicon-trash"></span>
                </td>
            </tr>
        {% endfor %}
        {% if not students %}
            <tr>
                <td>None</td>
                <td></td>
                <td></td>
            </tr>
        {% endif %}
        </table>

        <br>
        <p>
            {% if table_title == 'Students' %}
            <a href="{% url 'inactive_student_list' %}">View Inactive Students</a>
            {% endif %}
            {% if table_title == 'Inactive Students' %}
            <a href="{% url 'student_list' %}">View Active Students</a>
            {% endif %}
        </p>

{% endblock %}